.cursor-pointer {
	cursor: pointer;
}
/* ==========================================================================
 User Section
   ========================================================================== */

#user {
  background: #f6fbfd;
  padding-bottom: 80px !important;
}

user-card {
  padding: 30px;
  margin: 15px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 16px #ececec;
  display: grid;
  grid-template: auto / 100px auto;
}

user-card .user-card--left .img-thumb i {
  font-size: 3.5rem;
}

user-card .user-card--right {
  overflow: hidden;
}

user-card .user-card--right span {
  color: #a0a6ad;
}

user-card .user-card--right .user-card--right-info-main {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

user-card .user-card--right .user-card--right-info-main h3 {
  color: #3c9cfd;
  font-weight: 700;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
}

user-card .user-card--right .user-card--right-info-main .role {
  position: absolute;
  right: 0;
  top: 0;
  background: darkslategrey;
  padding: .2rem .5rem;
  border-radius: 2rem;
  color: #fff;
  font-variant: all-small-caps;
}

user-card .user-card--right .user-card--right-info-extra {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 0;
  color: #484848;
  padding: 3px 0;
}

user-card .user-card--right .user-card--right-info-extra .date-created {
  float: right;
  font-size: .95rem;
  font-style: italic;
  padding-right: .3rem;
}

no-user-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-size: 4.5rem;
	color: rgba(0, 0, 0, 0.17);	
	margin-top: 1rem;
	justify-content: center;
}

no-user-card i {
	font-size: 4.5rem;
}

no-user-card p {
	font-size: 2.5rem;
}
